<style>
  #local {
    float: right;
    width: 220px;
    display: inline;
    margin-top: 5px;
  }
  #local div{
    border: 1px solid #A8BACD;
    margin-bottom: 5px;
    background-color: #fafafa;
    padding: 1px;
  }
</style>
<div id="local">
  <div>
    <%= form_for :articles, url: '/articles/search', method: :get do |f| %>
        <%= f.text_field :title, :size => "15", :style => "width: 135px;" , placeholder: "输入相关内容" %>
        <%= f.submit "搜索", :style => "width: 68px;" %>
    <% end -%>
  </div>

  <div>
    <h3>热门文章</h3>
    <ul>
      <% latest_articles.each do |article| %>
          <li><%= link_to article.title.to_s, article %></li>
      <% end %>
    </ul>
  </div>
  <div>
    <h3>相关文章</h3>
    <ul>
      <% latest_articles.each do |article| %>
          <li><%= link_to article.title.to_s, article %></li>
      <% end %>
    </ul>
  </div>
  <div>
    <h3>一周排行</h3>
    <ul>
      <% latest_articles.each do |article| %>
          <li><%= link_to article.title.to_s, article %></li>
      <% end %>
    </ul>
  </div>
</div>
